{{ "<!-- About -->" | safeHTML }}
<section id="about">
  <div class="container">
    {{ range .Site.Params.about.row }}
    <div class="row text-center">
      {{ range .list }}
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="about-heading">{{ .title | markdownify }}</h4>
        <p class="text-muted">{{ .description | markdownify }}</p>
      </div>
      {{ end }}
    </div>
    {{ end }}

  </div>
</section>


{{ "<!-- About Grid Section -->" | safeHTML }}
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      {{ range .Site.Data.projects }}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ .preview }}" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .category | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
