{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
        <div class="intro-date intro-lead-in"><span class="date">{{ with .Site.Params.hero.date }}{{ . | markdownify }}{{ end }}</span><span class="location">{{ with .Site.Params.hero.location }}{{ . | markdownify }}{{ end }}</span></div>
        <div class="intro-title intro-heading">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
    </div>
  </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
