{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="announcement">
        <div class="intro-date intro-lead-in"><span class="date">{{ with .Site.Params.hero.date }}{{ . | markdownify }}{{ end }}</span><span class="location">{{ with .Site.Params.hero.location }}{{ . | markdownify }}{{ end }}</span></div>
        <div class="intro-title intro-heading">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
        <div class="intro-subtitle intro-lead-in">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
        <!-- <a class="btn btn-xl highlighted" href="/registration">{{ with .Site.Params.navigation.contact }}{{ . | markdownify }}{{ end }}</a> -->
      </div>
    </div>
  </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
