<section id="schedule" class="section align-center">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Schedule</h2>
        </div>
        <div class="col-md-10 col-md-offset-1">

            <!-- Schedule start -->
            <div class="row schedule schedule-light">

                <!-- Navigation by day start -->
                <ul class="nav nav-schedule">
                    <li class="active"><a href="#schedule3_day1" data-toggle="tab">Thursday, 19 October</a></li>
                    <li><a href="#schedule3_day2" data-toggle="tab">Friday, 20 October</a></li>
                    <li><a href="#schedule3_day3" data-toggle="tab">Saturday, 21 October</a></li>
                </ul>
                <!-- Navigation by day end -->

                <!-- First level content start -->
                <div class="tab-content">

                    <!-- Day 1 content start -->
                    <div id="schedule3_day1" class="tab-pane fade active in">

                        <!-- Accordion start -->
                        <div class="panel-group" id="schedule3_day1_timeline">

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day1_time1" class="schedule-item-toggle">
                                    <strong class="time highlight">3:00 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-cutlery"></span></div>
                                    <h6 class="title">Welcome in!</h6>
                                </a>
                                <div id="schedule3_day1_time1" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">We kick off SoCraTes IT with a good beer and networking activities</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day1_time2" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">7:30 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Dinner time</h6>
                                </a>
                                <div id="schedule3_day1_time2" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">We have a good dinner all together</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day1_time3" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">9:00 PM - ? </strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-glass"></div>
                                        <h6 class="title">After-dinner</h6>
                                </a>
                                <div id="schedule3_day1_time3" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">We do a team-building game to know each others.</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                        </div>
                        <!-- Accordion end -->

                    </div>
                    <!-- Day 1 content end -->

                    <!-- Day 2 content start -->
                    <div id="schedule3_day2" class="tab-pane fade in">

                        <!-- Accordion start -->
                        <div class="panel-group" id="schedule3_day2_timeline">

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time1" class="schedule-item-toggle">
                                    <strong class="time highlight">8:00 AM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-coffee"></span></div>
                                    <h6 class="title">Wake up, lazy guys!</h6>
                                </a>
                                <div id="schedule3_day2_time1" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time to have a breakfast</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time3" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">9:00 AM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Official opening</h6>
                                </a>
                                <div id="schedule3_day2_time3" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Introduction of Connexxo about the spirit of SoCraTes IT and the Open Space</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time4" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">09:30 AM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Marketplace</h6>
                                </a>
                                <div id="schedule3_day2_time4" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time for everyone to write down their sessions and pick a slot on the market place</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time5" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">10:00 AM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-cutlery"></span></div>
                                    <h6 class="title">Sessions</h6>
                                </a>
                                <div id="schedule3_day2_time5" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">1-hour sessions</p>
                                </div>
                            </div>
                            <!-- Lecture end -->


                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time5" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">1:00 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-cutlery"></span></div>
                                    <h6 class="title">Lunch</h6>
                                </a>
                                <div id="schedule3_day2_time5" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time to refuel</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time6" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">2:00 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Sessions</h6>
                                </a>
                                <div id="schedule3_day2_time6" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">1-hour sessions</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time7" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">5:30 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Evening news</h6>
                                </a>
                                <div id="schedule3_day2_time7" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time to recap the first day and share your impression</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day2_time8" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">7:30 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-cutlery"></span></div>
                                    <h6 class="title">Dinner</h6>
                                </a>
                                <div id="schedule3_day2_time8" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time to give energy to your brain</p>
                                </div>
                            </div>
                            <!-- Lecture end -->
                        </div>
                        <!-- Accordion end -->

                    </div>
                    <!-- Day 2 content end -->

                    <!-- Day 3 content start -->
                    <div id="schedule3_day3" class="tab-pane fade in">

                        <!-- Accordion start -->
                        <div class="panel-group" id="schedule3_day3_timeline">

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day3_time1" class="schedule-item-toggle">
                                    <strong class="time highlight">8:00 AM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-coffee"></span></div>
                                    <h6 class="title">The early bird gets the worm</h6>
                                </a>
                                <div id="schedule3_day3_time1" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time to have a breakfast</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day3_time3" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">9:00 AM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Marketplace</h6>
                                </a>
                                <div id="schedule3_day3_time3" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time for everyone to write down their sessions and pick a slot on the market place.</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day3_time4" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">10:00 AM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Sessions</h6>
                                </a>
                                <div id="schedule3_day3_time4" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">1-hour sessions</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day3_time5" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">01:00 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-cutlery"></span></div>
                                    <h6 class="title">Lunch</h6>
                                </a>
                                <div id="schedule3_day3_time5" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time to refuel.</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day3_time6" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">02:00 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Sessions</h6>
                                </a>
                                <div id="schedule3_day3_time6" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">1-hour sessions</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day3_time7" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">04:00 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-bars"></div>
                                        <h6 class="title">Official Closing</h6>
                                </a>
                                <div id="schedule3_day3_time7" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">We recap all the days and share our impression</p>
                                </div>
                            </div>
                            <!-- Lecture end -->

                            <!-- Lecture start -->
                            <div class="panel schedule-item">
                                <a data-toggle="collapse" href="#schedule3_day3_time8" class="schedule-item-toggle collapsed">
                                    <strong class="time highlight">5:00 PM</strong>
                                    <div class="lecture-icon-wrapper"><span class="fa fa-cutlery"></span></div>
                                    <h6 class="title">It is time to say goodbye!</h6>
                                </a>
                                <div id="schedule3_day3_time8" class="panel-collapse collapse in schedule-item-body">
                                    <p class="description">Time flies when you're having fun</p>
                                </div>
                            </div>
                            <!-- Lecture end -->
                        </div>
                        <!-- Accordion end -->

                    </div>
                    <!-- Day 3 content end -->
                </div>
                <!-- First level content end -->

            </div>
            <!-- Schedule end -->
            <div class="intro-text text-center">
                <a class="btn btn-xl highlighted" href="/registration">{{ with .Site.Params.navigation.contact }}{{ . | markdownify }}{{ end }}</a>
            </div>
        </div>
    </div>
</section>
