<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="index">
        {{ partial "nav-second-page.html" . }}

        {{ "<!-- Services -->" | safeHTML }}
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-14 text-center">
                        <h2 class="section-heading">{{ .Title }}</h2>
                    </div>
                </div>
                {{ .Content }}
            </div>
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
